.footer {
    height: 50px;
    display: inline-flex !important;
}

.footer .btn-group {
    right: 25px !important;
    position: absolute !important; 
}

.footer .btn-group .btn {
    margin-left: 5px !important;
}

