
.content {
    display: inline-flex !important;
    margin: 0 !important;
    max-width: unset !important;
    padding: 0px, 25px, 0px, 25px !important;
}

.content .info {
    width: 650px !important;
    margin: 0 !important;
}

.content .search {
    width: 350px !important;
    min-width: 350px !important;
    margin: 0 !important;
}

.content .profile {
    width: 0px !important;
    display: none;
}